@model List<ProductsModel>
@{
    ViewData["Title"] = "Products";
}


<div>
    <table>
        <tr>
            <th width="200px">CategoryId</th>
            <th width="200px">SellerId</th>
            <th width="200px">Status</th>
            <th width="200px">Title</th>
            <th width="200px">Brand</th>
            <th width="200px">ConditionId</th>
            <th width="200px">Description</th>
            <th width="200px">Price</th>
            <th width="200px">Method</th>
            <th width="200px">Date Posted</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CategoryId</td>
                <td>@item.SellerId</td>
                <td>@item.Status</td>
                <td>@item.Title</td>
                <td>@item.Brand</td>
                <td>@item.ConditionId</td>
                <td>@item.Description</td>
                <td>@item.PesoPrice</td>
                <td>@item.Method</td>
                <td>@item.DatePosted</td>
            </tr>
        }
    </table>
</div>